body {
  background: aliceblue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

.tg--header h1, h2, h3, h4, h5, h6 {
    color: brown !important;
}

.tg--list {
  margin-top: 15px;
}

.tg--callout {
  border: 3px solid #2199e8;
  padding: 15px;
  background-color: #fdfdfd;
}

.tg--callout a {
  font-weight: bold;
}

.tg--footer {
  margin-top: 65px;
}

.button {
  font-weight: bold;
}

.playgame {
  margin-top: 5px;
  margin-bottom: 25px;
}

.menu {
 background-color: whitesmoke;
  border: 3px solid #2199e8;
}

ul.gamesdev li {
    list-style-type: none;
}